html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Work Sans';
  font-weight: normal;
  src: url(./fonts/WorkSans-Medium.ttf); }
@font-face {
  font-family: 'Work Sans';
  font-weight: lighter;
  src: url(./fonts/WorkSans-Regular.ttf); }
@font-face {
  font-family: 'Space Mono';
  font-weight: normal;
  src: url(./fonts/SpaceMono-Bold.ttf); }
html {
  background-color: #272527;
  color: #FCFBFC;
  font-family: 'Work Sans';
  font-weight: bold; }

body {
  width: 700px;
  margin: 60px auto; }
  @media only screen and (max-width: 800px) {
    body {
      width: 500px; } }
  @media only screen and (max-width: 540px) {
    body {
      font-size: 10.5px;
      width: 330px; } }

header {
  position: fixed;
  height: 46px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 20px;
  background-color: #161416;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  header img {
    flex: 0 0 auto;
    width: 22px; }
  header span {
    flex: 0 0 auto;
    padding-left: 8px;
    font-weight: lighter;
    font-size: 14px;
    color: #8D8B8E; }
  header a {
    margin-left: auto; }
    header a img {
      width: 15px; }

div {
  padding-top: 8em; }
  div img {
    margin-bottom: 4em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

h1 {
  font-size: 2em;
  margin-bottom: 1.3em; }

p {
  padding-bottom: 1.5em;
  color: #8D8B8E; }

/*# sourceMappingURL=blocked.css.map */
