html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Work Sans';
  font-weight: normal;
  src: url(./fonts/WorkSans-Medium.ttf); }
@font-face {
  font-family: 'Work Sans';
  font-weight: lighter;
  src: url(./fonts/WorkSans-Regular.ttf); }
@font-face {
  font-family: 'Space Mono';
  font-weight: normal;
  src: url(./fonts/SpaceMono-Bold.ttf); }
html {
  background-color: #272527;
  width: 316px;
  color: #FCFBFC;
  font-family: 'Work Sans';
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  padding: 80px 20px 20px; }

header {
  position: fixed;
  height: 46px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 20px;
  background-color: #161416; }
  header img {
    flex: 0 0 auto;
    width: 7vw; }
  header span {
    flex: 0 0 auto;
    padding-left: 8px;
    font-weight: lighter;
    font-size: 14px;
    color: #8D8B8E; }
  header a {
    margin-left: auto; }
    header a img {
      width: 15px; }

.centered {
  text-align: center; }

#hero img {
  width: 44vw; }

#status {
  margin-top: 10px;
  font-size: 21px; }

#url {
  margin-top: 7px;
  font-size: 10px;
  color: #8D8B8E; }

#explanation, textarea {
  background-color: #1D1B1D;
  border-radius: 5px;
  margin-top: 32px;
  padding: 16px;
  width: 276px;
  color: #E77E7B;
  font-family: 'Space Mono';
  font-size: 11px;
  line-height: 1.5em; }
  #explanation a, textarea a {
    color: #E77E7B; }

#info {
  display: flex;
  flex-direction: column;
  background-color: #383638;
  color: #8D8B8E;
  margin-top: 10px;
  border-radius: 5px;
  width: 276px; }
  #info li {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 15px 15px;
    border-bottom-color: #444344;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 13px; }
    #info li span:first-child {
      display: inline-block;
      width: 18px;
      height: 24px;
      flex: 0 0 auto;
      flex-basis: 15%;
      max-width: 15%;
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: left; }
    #info li span:last-child {
      flex: 0 0 auto; }
    #info li .shield-safe:first-child {
      background-image: url("./images/shield.svg"); }
    #info li .shield-unsafe:first-child {
      background-image: url("./images/shield-off.svg");
      background-size: 25.05882348px;
      width: 25.05882348px;
      margin-left: -3px; }
    #info li .phishing-safe:first-child {
      background-image: url("./images/phishing-safe.svg"); }
    #info li .phishing-unsafe:first-child {
      background-image: url("./images/phishing-unsafe.svg"); }
  #info li:last-child {
    border: none; }

form {
  font-size: 13px;
  line-height: 1.3em;
  align-items: center; }
  form > div {
    display: flex;
    padding: 20px  0px;
    align-items: center;
    border-bottom-color: #444344;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
    form > div label {
      flex: 0 0 auto;
      width: 80%; }
    form > div img {
      flex: 0 0 auto;
      margin-left: auto;
      width: 30px;
      display: inline-block;
      padding: 8px 0px;
      cursor: pointer; }
    form > div textarea {
      color: #8D8B8E;
      outline: none;
      border: none;
      width: 100%;
      height: 80px;
      resize: none;
      font-family: 'Space Mono';
      margin-top: 10px; }
  form > div:first-child {
    padding-top: 0px; }
  form > div:last-child {
    display: block;
    border: none; }

#settings {
  cursor: pointer; }

button {
  cursor: pointer;
  width: 100%;
  height: 3em;
  font-size: 13px;
  background-color: #383638;
  color: #FCFBFC;
  outline: none;
  border: none;
  border-radius: 5px; }

button.selected {
  background-color: #73F0CF; }

/*# sourceMappingURL=dashboard.css.map */
