html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Work Sans';
  font-weight: bold;
  src: url(./fonts/WorkSans-Medium.ttf); }
@font-face {
  font-family: 'Work Sans';
  font-weight: normal;
  src: url(./fonts/WorkSans-Regular.ttf); }
body {
  font-family: 'Work Sans';
  line-height: 1.25; }

h1, h2, h3, h4, h5, h6, p, ul {
  padding-bottom: 2.5rem; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 1.4rem; }

li {
  display: inline-block; }

.bgBlue {
  background-color: #497FB0; }

.bgWhite {
  background-color: #F4F4F4; }

.row, .row-reverse {
  display: flex;
  flex-direction: row; }

.row-reverse {
  flex-direction: row-reverse; }

.half-screen-width {
  width: 50vw; }

.container {
  width: 600px;
  margin: 100px auto 0; }
  @media only screen and (max-width: 1330px) {
    .container {
      width: 500px; } }

.full-screen-height {
  min-height: 100vh; }

.full-screen-width {
  width: 100vw; }

.full-width {
  width: 100%; }

.button {
  cursor: pointer;
  padding: 0.7em 1.5rem;
  background-color: black;
  text-decoration: none;
  font-size: 0.8em;
  color: white;
  border-radius: 3px; }

.secondary {
  background-color: rgba(124, 122, 124, 0.2);
  color: black; }

#logo {
  width: 36px;
  margin-bottom: 4rem; }

#mark {
  width: 250px;
  margin-left: -22px; }

#title {
  margin-left: -0.5rem; }

#dashboardImg {
  background: url("img/sbDashboard.png") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#diagramImg {
  background: url("img/diagram.png") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#platforms {
  font-size: 0.8em;
  color: #8D8B8E;
  margin-bottom: 0.5rem; }

#browsers li > img {
  width: 29px; }

#bottom-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px; }

@media only screen and (max-width: 1130px) {
  .row, .row-reverse {
    flex-direction: column; }

  .half-screen-width {
    width: 100vw; }

  .container {
    width: 75vw; }

  #diagramImg {
    height: 70vh; } }
#video {
  padding-bottom: 2.5rem; }
  @media only screen and (max-width: 840px) {
    #video {
      width: 100vw; } }

@media only screen and (max-width: 800px) {
  #diagramImg {
    height: 90vw; } }
@media only screen and (max-width: 650px) {
  #download-buttons > li {
    display: list-item; }
    #download-buttons > li .button {
      display: block;
      text-align: center;
      margin: 8px; } }

/*# sourceMappingURL=application.css.map */
