// TODO: Create a main.scss file to contain like stylesheet content
//
// MEYER RESET
//

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
// Apply a natural box layout model to all elements
// from: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

//
// VARIABLES
//

// Colors
$red: #E77E7B;
$green: #73F0CF;

// Grays
$white: #FCFBFC;
$gray: #8D8B8E;
$itemBg: #383638;
$popupBg: #272527;
$explainBg: #1D1B1D;
$headerBg: #161416;

// Font stacks

@font-face {
    font-family: 'Work Sans';
    font-weight: normal;
    src: url(./fonts/WorkSans-Medium.ttf);
}

@font-face {
    font-family: 'Work Sans';
    font-weight: lighter;
    src: url(./fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'Space Mono';
    font-weight: normal;
    src: url(./fonts/SpaceMono-Bold.ttf);
}

//
// SETTINGS
//

html {
    background-color: $popupBg;
    color: $white;
    font-family: 'Work Sans';
    font-weight: bold;
}

body {
    width: 700px;
    margin: 60px auto;
    @media only screen and (max-width: 800px) {
        width: 500px;
    }

    @media only screen and (max-width: 540px) {
        font-size: 10.5px;
        width: 330px;
    }
}

header {
    position: fixed;
    height: 46px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 20px;
    background-color: $headerBg;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
        flex: 0 0 auto;
        width: 22px;
    }

    span {
        flex: 0 0 auto;
        padding-left: 8px;
        font-weight: lighter;
        font-size: 14px;
        color: $gray;
    }

    a {
        margin-left: auto;
        img {
            width: 15px;
        }
    }
}

div {
    padding-top: 8em;
    img {
        margin-bottom: 4em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

h1 {
    font-size: 2em;
    margin-bottom: 1.3em;
}

p {
    padding-bottom: 1.5em;
    color: $gray;
}
