//
// MEYER RESET
//

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
// Apply a natural box layout model to all elements
// from: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

//
// VARIABLES
//

// Colors
$red: #E77E7B;
$green: #73F0CF;

// Grays
$white: #FCFBFC;
$gray: #8D8B8E;
$itemBg: #383638;
$popupBg: #272527;
$explainBg: #1D1B1D;
$headerBg: #161416;

// Font stacks

@font-face {
    font-family: 'Work Sans';
    font-weight: normal;
    src: url(./fonts/WorkSans-Medium.ttf);
}

@font-face {
    font-family: 'Work Sans';
    font-weight: lighter;
    src: url(./fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'Space Mono';
    font-weight: normal;
    src: url(./fonts/SpaceMono-Bold.ttf);
}

//
// DASHBOARD
//

html {
    background-color: $popupBg;
    width: 316px;
    color: $white;
    font-family: 'Work Sans';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding: 80px 20px 20px;
}

header {
    position: fixed;
    height: 46px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 20px;
    background-color: $headerBg;

    img {
        flex: 0 0 auto;
        width: 7vw;
    }

    span {
        flex: 0 0 auto;
        padding-left: 8px;
        font-weight: lighter;
        font-size: 14px;
        color: $gray;
    }

    a {
        margin-left: auto;
        img {
            width: 15px;
        }
    }
}

.centered {
    text-align: center;
}

#hero img {
    width: 44vw;
}

#status {
    margin-top: 10px;
    font-size: 21px;
}

#url {
    margin-top: 7px;
    font-size: 10px;
    color: $gray;
}

#explanation, textarea {
    background-color: $explainBg;
    border-radius: 5px;
    margin-top: 32px;
    padding: 16px;
    color: $red;
    font-family: 'Space Mono';
    font-size: 11px;
    line-height: 1.5em;

    a {
        color: $red;
    }
}

#info {
    display: flex;
    flex-direction: column;
    background-color: $itemBg;
    color: $gray;
    margin-top: 10px;
    border-radius: 5px;

    li {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 15px 15px;
        border-bottom-color: #444344;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        font-size: 13px;

        span:first-child {
            display: inline-block;
            width: 18px;
            height: 24px;
            flex: 0 0 auto;
            flex-basis: 15%;
            max-width: 15%;

            background-size: 18px;
            background-repeat: no-repeat;
            background-position: left;
        }

        span:last-child {
            flex: 0 0 auto;
        }

        .shield-safe:first-child {
            background-image: url("./images/shield.svg");
        }

        .shield-unsafe:first-child {
            background-image: url("./images/shield-off.svg");
            background-size: 1.39215686 * 18px;
            width: 1.39215686 * 18px;
            margin-left: -3px;
        }

        .phishing-safe:first-child {
            background-image: url("./images/phishing-safe.svg");
        }

        .phishing-unsafe:first-child {
            background-image: url("./images/phishing-unsafe.svg");
        }
    }

    li:last-child {
        border: none;
    }
}

form {
    font-size: 13px;
    line-height: 1.3em;
    align-items: center;

    > div {
        display: flex;
        padding: 20px  0px;
        align-items: center;
        border-bottom-color: #444344;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        label {
            flex: 0 0 auto;
            width: 80%;
        }

        img {
            flex: 0 0 auto;
            margin-left: auto;
            width: 30px;
            display: inline-block;
            padding: 8px 0px;
            cursor: pointer;
        }

        textarea {
            color: $gray;
            outline: none;
            border: none;
            width: 100%;
            height: 80px;
            resize: none;
            font-family: 'Space Mono';
            margin-top: 10px;
        }
    }

    > div:first-child {
        padding-top: 0px;
    }

    > div:last-child {
        display: block;
        border: none;
    }
}

#settings {
    cursor: pointer;
}

button {
    cursor: pointer;
    width: 100%;
    height: 3em;
    font-size: 13px;
    background-color: $itemBg;
    color: $white;
    outline: none;
    border: none;
    border-radius: 5px;
}

button.selected {
    background-color: $green;
}
